<div class="scroller slider-class">
  <div><%= image_tag "necko.jpg", width:'100%' %></div>
  <div><img src="https://via.placeholder.com/1440x300" alt=""></div>
  <div><img src="https://via.placeholder.com/1440x300" alt=""></div>
</div>
